* {
  list-style: none;
}
body {
  margin: 0;
  padding: 0;
}
.home {
  width: 100%;
  display: flex;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
li {
  cursor: pointer;
  font-size: 18px;
}
.hContainer {
  margin-top: 100px;
}
