.navbar {
  position: fixed;
  top: 10px;
  width: 82vw;
  display: flex;
  align-items: center;
  background-color: brown;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  height: max-content;
}
.nContainerLEft {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
}
.nContainerLEft ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.nContainerLEft button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: white;
  border: none;
  padding: 5px;
  font-size: 25px;
}

.nContainerRight {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
.nContainerRight button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: white;
  border: none;
  padding: 5px;
  font-size: 25px;
}
.lang{
	gap: 10px;
}
.lang p{
	font-size: 18px;
}

.nIcon{
	font-size: 25px;
}
