.sidebar {
  width: 18vw;
  background-color: rgb(48, 54, 54);
  display: flex;
  justify-content: center;
  height: 100vh;
}
.sidebarContainer {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.logo {
  width: 100%;
  background-color: rgb(22, 83, 83);
  padding: 10% 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
img {
  width: 100%;
  object-fit: cover;
}
.sidebarList {
  display: flex;
  flex-direction: column;
  color: white;
}
.sidebarList li {
  list-style: none;
  color: white;
  font-size: 20px;
  margin-top: 13px;
}

.sItem {
  width: 100%;
  position: relative;
}
.sItem ul {
  gap: 40px;
  display: flex;
}

.sItem ul li {
  margin-top: 10px;
}

.sListItem{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.sIcon{
  color: aqua;
}